<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARD</title> 
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <link rel="stylesheet" href="/css/plugins/iCheck/custom.css">
        
        <link rel="stylesheet" href="/font-awesome/css/fontawesome.css">
        <link rel="stylesheet" href="/font-awesome/css/brands.css">
        <link rel="stylesheet" href="/font-awesome/css/solid.css">
        <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>