<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ARD</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
    </head>