<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbarUser.ejs') %>

<body>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3>Cadastramento para a Roda de Cura de </h3></div>
            <div class="card-body">
                <form method="POST" action="save">
                    <div class="row">
                        <div class="col"><label>Nome da Pessoa</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu nome" name="nmPessoa" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><label>Receber Emails?</label></div>
                        <div class="col-10 form-check form-check-inline">
                            <div class='col-3' style="padding-inline-start:28px;">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Sim</label>
                            </div>
                            <div class='col-3'>                         
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Não</label>
                            </div>
                          </div>
                    </div>
                    
                    <div class="row">
                        <div class="col"><label>Email</label></div>
                        <div class="col-10">
                            <input type="text" placeholder="Digite o seu Email" name="emailPessoa" class="form-control">
                        </div>
                    </div>                    
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>  
    </div>
</body>

<%- include ('../partials/footer.ejs') %>