<%- include('../partials/header.ejs') %>

<body>
    <%- include ('../partials/navbar.ejs') %>
    <div class="container">
        <h1> página de lista de pessoas</h1>
    </div>
</body>

<%- include ('../partials/footer.ejs') %>