<%- include ('partials/header.ejs') %>
<link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilo.css">
    <body>
        <input type="Text" id="Desktop_Mobile" value="Desktop">
    </body>

    <%- include ('partials/footer.ejs') %>

    <script src="/jQuery/jquery-3.1.1.min.js"></script>
    <script src="/jQuery/jquery.inputmask.bundle.js"></script>
    <script src="/jQuery/mascaras.js"></script>

    <script>
    $(document).ready(
        function() {
            try {            
                if ( (window.screen.availHeight < 728) && (window.screen.availWidth < 1366)){
                    document.getElementById('Desktop_Mobile').value = "Mobile";  
                }
                vaimeufilho();
            }
            catch { 
                error => {
                console.log(error); }
            }
        }        
    );

    function vaimeufilho() {
        alert(document.getElementById('Desktop_Mobile').value);
        if(document.getElementById('Desktop_Mobile').value == "Mobile"){
            window.location = "/goMobile";
        }else{
            window.location = "/goDesktop";
        }
    }
    </script>